{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser | default: "/assets/images/desk.jpg" %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="grid__item">
  <article class="archive__item" itemscope itemtype="https://schema.org/CreativeWork">
    <a href="{{ post.url | relative_url }}" class="archive__item-teaser-link" rel="permalink">
      <div class="archive__item-teaser">
        <img src="{{ teaser | relative_url }}" alt="{{ title }}" loading="lazy">
      </div>
    </a>
    
    <div class="archive__item-body">
      <div class="archive__item-meta-top">
        {% if post.categories[0] %}
          <span class="archive__item-category">{{ post.categories[0] }}</span>
        {% else %}
          <span class="archive__item-category">Tech</span>
        {% endif %}
        <span class="archive__item-date"><i class="far fa-calendar-alt"></i> {{ post.date | date: "%Y.%m.%d" }}</span>
      </div>

      <h2 class="archive__item-title" itemprop="headline">
        <a href="{{ post.url | relative_url }}" rel="permalink">{{ title }}</a>
      </h2>

      {% if post.excerpt %}
        <p class="archive__item-excerpt" itemprop="description">
          {{ post.excerpt | markdownify | strip_html | truncate: 120 }}
        </p>
      {% endif %}

      <div class="archive__item-meta-bottom">
        <span class="archive__item-readtime"><i class="far fa-clock"></i> {% include read-time.html %}</span>
      </div>
    </div>
  </article>
</div>
